#body {
	margin: 0;
	padding: 0;
	background-color: white; 
	visibility: hidden;
}

#image {
	width: 300px;
	border: none;
}

#clickme {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    border: none;
    font-size: 100px;
    padding: 0;
    visibility: hidden;
}

#link {
	font-size: 50px;
}

#rickroll {
	height: 100%; 
	width: 100%; 
	position: absolute; 
	border: none; 
	visibility: hidden;
}

#projlink {
	position: absolute; 
	z-index: 9999;
}

.github-corner:hover .octo-arm m{ animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave { 0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}
